@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 115 49% 99%;
    --foreground: 115 52% 5%;
    --muted: 85 27% 93%;
    --muted-foreground: 85 13% 26%;
    --popover: 115 49% 99%;
    --popover-foreground: 115 52% 5%;
    --card: 115 49% 99%;
    --card-foreground: 115 52% 5%;
    --border: 115 15% 92%;
    --input: 115 15% 92%;
    --primary: 115 72% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 85 72% 38%;
    --secondary-foreground: 0 0% 0%;
    --accent: 145 72% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 14 92% 30%;
    --destructive-foreground: 14 92% 90%;
    --ring: 115 72% 38%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 115 33% 1%;
    --foreground: 115 24% 98%;
    --muted: 85 27% 7%;
    --muted-foreground: 85 13% 74%;
    --popover: 115 33% 1%;
    --popover-foreground: 115 24% 98%;
    --card: 115 33% 1%;
    --card-foreground: 115 24% 98%;
    --border: 115 15% 11%;
    --input: 115 15% 11%;
    --primary: 115 72% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 85 72% 38%;
    --secondary-foreground: 0 0% 0%;
    --accent: 145 72% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 14 92% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 115 72% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}